<footer class="footer">
   <div class="footer__top">
        <p>Адрес Портала закупок в интернете:</p>
        <p>По вопросам аттестации поставщиков на Портале закупок Вы можете обращаться:</p>
        <p>По вопросам технической поддержки работы на Портале закупок Вы можете обращаться:</p>
        <p>Сайт Евразийской Группы: </p>
   </div>
   <div class="footer__bottom">
    <div>
        <a href="https://wwww.torgi.erg.kz">torgi.erg.kz</a>
    </div>
    <div>
        <a href="mailto:aos@erg.kz">E-mail: aos@erg.kz</a>
    </div>
    <div>
        <a href="tel:+7 7172 61 29 99">Т: +7 7172 61 29 99 (Service Desk)</a>
        <a href="mailto:helpdesk@erg.kz">E-mail: helpdesk@erg.kz</a>
    </div>
    <div>
        <a href="https://www.erg.kz">www.erg.kz</a>
    </div>
   </div>
</footer>