<section class="home">
    <div class="home__top">
        <div class="home__top-info">
            <div class="home__top-info--text">
                <p>Портал закупок - система для закупок товаров, работ и услуг Предприятиями Евразийской Группы.
                    Любой потенциальный поставщик, прошедший аттестацию, имеет право принять участие в торгах.
                    <b> Процедура аттестации и участия в торгах абсолютна бесплатна.</b>
                </p>
            </div>

            <div class="home__top-info--title">
                <h1 class="home__top-info--title-text">ERG закупает:</h1>
                <h1 class="home__top-info--title-text home__top-info--title-yellow">СТРОЙМАТЕРИАЛЫ</h1>
            </div>
        </div>
        <div class="home__top-rates">
            <erg-home-rates></erg-home-rates>
                <ul  class="home__top-rates--support">
                    <li class="home__top-rates--support-telegram">
                        <span>Телеграм</span>
                        <svg xmlns="http://www.w3.org/2000/svg" width="29" height="27" viewBox="0 0 29 27" fill="none">
                            <path d="M24.5395 15.6053L27.6316 1M27.6316 1L0.900348 13.2836C0.527502 13.455 0.508367 13.9777 0.867689 14.1758L7.03947 17.5789M27.6316 1L12.0036 20.2105M27.6316 1L7.03947 17.5789M7.03947 17.5789L7.70663 24.1393C7.75172 24.5827 8.31064 24.75 8.59193 24.4042L12.0036 20.2105M12.0036 20.2105L21.714 25.6691C22.0068 25.8337 22.3754 25.6685 22.4474 25.3405L23.4868 20.6053" stroke="#EF7F1A" stroke-linecap="square" stroke-linejoin="round"/>
                        </svg>
                    </li>
                    <li  class="home__top-rates--support-hotline">
                        <span>Горячая линия/ линия доверия </span>
                    </li>
                    <li  class="home__top-rates--support-tech"> 
                        <span>Тех поддержка:</span> <br>
                        <a href="tel:+7 7172 612999">+7 (7172) 612999</a>
                        <a href="mailto:helpdesk@erg.kz">helpdesk@erg.kz</a>
                    </li>
                    <li>
                        <a href="mailto:www.erg.kz">www.erg.kz</a>
                    </li>
                </ul>

        </div>
    </div>
    <div class="home__carousel">
        <erg-home-carousel></erg-home-carousel>
    </div>
</section>